TinyZap.configure do |config|
  if Rails.env.production?
    # For production deployments, set the following environment keys:
    #
    # ```
    # IMAGEOMATIC_SECRET_KEY=
    # IMAGEOMATIC_PUBLIC_KEY=
    # ```
    config.load_env
  else
    config.secret_key = "<%= TinyZap.key_generator.secret_key %>"
    config.public_key = "<%= TinyZap.key_generator.public_key %>"
  end
end
